@font-face {
  font-family: "Open Sans";
  src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open Sans italic";
  src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Italic.ttf);
}

@font-face {
  font-family: "Open Sans light";
  src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf);
}

@font-face {
  font-family: "Open Sans light italic";
  src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-LightItalic.ttf);
}

@font-face {
  font-family: "Open Sans medium";
  src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf);
}

@font-face {
  font-family: "Open Sans medium italic";
  src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-MediumItalic.ttf);
}

@font-face {
  font-family: "Open Sans bold";
  src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: "Open Sans bold italic";
  src: url(../fonts/Open_Sans/static/OpenSans/OpenSans-BoldItalic.ttf);
}